<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1>Your post was liked, <%= @user.name %>!</h1>
	<p>
		<%= @the_user.name %> liked your post -
		<i>
			<%= @the_post.content %>
		</i>
	</p>
	<p>
		To login to the site, just follow this link: <%= @url %>.
	</p>
	<p>Thanks for being apart of the greatest social network known to man!</p>
</body>
</html>