<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have been mentioned on Jukaela Social, <%= @user.name %>!</h1>
    <p>
	  <%= @mentioning_user.name %> mentioned you in a post!
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for being a part of the greatest social network known to man!</p>
  </body>
</html>