<li id="<%= like_user.id %>">
    
    <%= link_to gravatar_for(like_user) %>

    <span class="user">
        <%= like_user.name %>
    </span>
        <span class="content">
        <%= like_user.username %>
    </span>
</li>