<h1>News</h1>
<p>
	<p>April 25th, 2012
		<p>Added News page</p>
  	</p>
	<p>April 25th, 2012
		<p>Fixed a bug that caused the app to crash if you used quotes in a micropost</p>
  	</p>
	<p>April 25th, 2012
		<p>Added support for email notifications.</p>
  	</p>
  	<p>April 24th, 2012
		<p>Initial deployment!</p>
  	</p>
</p>
