<h1>News</h1>
<p>
	<h2>April 25th, 2012</h2>
	<ul>
		<li>Made the News page look a little nicer.</li>
		<li>Added News page.</li>
		<li>Fixed a bug that caused the app to crash if you used quotes in a micropost.</li>
		<li>Added support for email notifications.</li>
	</ul>
	<h2>April 24th, 2012</h2>
	<ul>
		<li>Initial deployment!</li>
	</ul>
</p>
