<h1>News</h1>
<p>
	<h3>April 28th, 2012</h3>
	<ul>
		<li>Support for admin users.</li>
		<li>Add support for deleting one's own posts.</li>
	</ul>
	<h3>April 27th, 2012</h3>
	<ul>
		<li>Update logo.</li>
	</ul>
	<h3>April 26th, 2012</h3>
	<ul>
		<li>Made the home page more functional and nicer looking</li>
		<li>Added session management.  This replaces the older style cookie support.</li>
	</ul>
	<h3>April 25th, 2012</h3>
	<ul>
		<li>Made the News page look a little nicer.</li>
		<li>Added News page.</li>
		<li>Fixed a bug that caused the app to crash if you used quotes in a micropost.</li>
		<li>Added support for email notifications.</li>
	</ul>
	<h3>April 24th, 2012</h3>
	<ul>
		<li>Initial deployment!</li>
	</ul>
</p>
