<h1>News</h1>
<p>
	<p><b>April 25th, 2012</b>
		<p>Made the News page look a little nicer.</p>
  	</p>
	<p><b>April 25th, 2012</b>
		<p>Added News page</p>
  	</p>
	<p><b>April 25th, 2012</b>
		<p>Fixed a bug that caused the app to crash if you used quotes in a micropost</p>
  	</p>
	<p><b>April 25th, 2012</b>
		<p>Added support for email notifications.</p>
  	</p>
  	<p><b>April 24th, 2012</b>
		<p>Initial deployment!</p>
  	</p>
</p>
