<h1>News</h1>

<p>
	<h3>May 1st, 2012</h3>
	<ul>
		<li>Implement preference to show username in feed</li>
		<li>Implement @ replies.  Uses username.  If you wish to use a person's real name, use quotes</li>
	</ul>
	<h3>May 1st, 2012</h3>
	<ul>
		<li>Happy May Day!</li>
		<li>Change email fields to use proper HTML 5 types so that the email keyboard is used on iOS.</li>
		<li>Fix branding and a typo in the emails</li>
		<li>Add glyph icons to _header</li>
		<li>Add ability to repost or reply to a post</li>
		<li>If the post contains a link, make the link clickable</li>
		<li>User now has the ability to set a profile.  Max 300 chars.</li>
		<li>If profile has link, make it clickable</li>
		<li>Change action menu style on feed</li>
		<li>Implement usernames</li>
	</ul>
	<h3>April 30th, 2012</h3>
	<ul>
		<li>Major redesign</li>
		<li>Fix pagination in new style</li>
		<li>Major redesign of homepage</li>
	</ul>
	<h3>April 29th, 2012</h3>
	<ul>
		<li>Change email fields to use proper HTML 5 types so that the email keyboard is used on iOS.</li>
		<li>Add counter for number of characters in micropost.</li>
	</ul>
	<h3>April 28th, 2012</h3>
	<ul>
		<li>Support for admin users.</li>
		<li>Add support for deleting one's own posts.</li>
	</ul>
	<h3>April 27th, 2012</h3>
	<ul>
		<li>Update logo.</li>
	</ul>
	<h3>April 26th, 2012</h3>
	<ul>
		<li>Made the home page more functional and nicer looking</li>
		<li>Added session management.  This replaces the older style cookie support.</li>
	</ul>
	<h3>April 25th, 2012</h3>
	<ul>
		<li>Made the News page look a little nicer.</li>
		<li>Added News page.</li>
		<li>Fixed a bug that caused the app to crash if you used quotes in a micropost.</li>
		<li>Added support for email notifications.</li>
	</ul>
	<h3>April 24th, 2012</h3>
	<ul>
		<li>Initial deployment!</li>
	</ul>
</p>