<h1>News</h1>
<div class="span11">
	<div class="row">
		<dt>May 7th, 2012</dt>
			<dd>Add name to micropost model.  This allows a much more streamlined home.json</dd>
	</div>
	<div class="row">
		<dt>May 4th, 2012</dt>
			<dd>Fix authentication for json</dd>
			<dd>Implement posting from json</dd>
	</div>	
	<div class="row">
		<dt>May 3rd, 2012</dt>
			<dd>Begin JSON implemention</dd>
			<dd>Allow feed to be downloaded via JSON.</dd>
			<dd>Split rendering of all controllers into html and json</dd>
			<dd>Fix crasher that would happen if a user that didn't exist was mentioned</dd>
			<dd>The wrong person was being sent the email when they began following somone.  Fixed.</dd>
	</div>
	<div class="row">
		<dt>May 1st, 2012</dt>
			<dd>Implement preference to show username in feed</dd>
			<dd>Implement @ replies.  Uses username.  If you wish to use a person's real name, use quotes</dd>
			<dd>Update of styling of news page</dd>
			<dd>Page for showing mentions</dd>
			<dd>Fix bug that was showing the wrong users on the mentions page</dd>
			<dd>Fix bug that would show username warning to wrong user</dd>
			<dd>Redirect to home page after sign in</dd>
	 </div>
	 <br />
	 <div class="row">
		<dt>May 1st, 2012</dt>
			<dd>Happy May Day!</dd>
			<dd>Change email fields to use proper HTML 5 types so that the email keyboard is used on iOS.</dd>
			<dd>Fix branding and a typo in the emails</dd>
			<dd>Add glyph icons to _header</dd>
 			<dd>Add ability to repost or reply to a post</dd>
			<dd>If the post contains a link, make the link clickable</dd>
			<dd>User now has the ability to set a profile.  Max 300 chars.</dd>
			<dd>If profile has link, make it clickable</dd>
			<dd>Change action menu style on feed</dd>
			<dd>Implement usernames</dd>
	</div>
	<br />
	<div class="row">
		<dt>April 30th, 2012</dt>
			<dd>Major redesign</dd>
			<dd>Fix pagination in new style</dd>
			<dd>Major redesign of homepage</dd>
	</div>
	<br />
	<div class="row">
		<dt>April 29th, 2012</dt>
			<dd>Change email fields to use proper HTML 5 types so that the email keyboard is used on iOS.</dd>
			<dd>Add counter for number of characters in micropost.</dd>
	</div>
	<br />
	<div class="row">
		<dt>April 28th, 2012</dt>
			<dd>Support for admin users.</dd>
			<dd>Add support for deleting one's own posts.</dd>
	</div>
	<br />
	<div class="row">
		<dt>April 27th, 2012</dt>
			<dd>Update logo.</dd>
	</div>
	<br />
	<div class="row">
		<dt>April 26th, 2012</dt>
			<dd>Made the home page more functional and nicer looking</dd>
			<dd>Added session management.  This replaces the older style cookie support.</dd>
	</div>
	<br />
	<div class="row">
		<dt>April 25th, 2012</dt>
			<dd>Made the News page look a little nicer.</dd>
			<dd>Added News page.</dd>
			<dd>Fixed a bug that caused the app to crash if you used quotes in a micropost.</dd>
			<dd>Added support for email notifications.</dd>
	</div>
	<br />
	<div class="row">
		<dt>April 24th, 2012</dt>
			<dd>Initial deployment!</dd>
	</div>
	<br />
</div>